<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Pemilik</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<%- include("../partials/nav.ejs") %>

<div class="container">
  <h1 class="text-center mb-5 mt-2">Edit Pemilik</h1>
  <form action="/pemilik/update/<%= id %>" method="POST">
    <div class="form-group">
      <label for="nama">Nama Pemilik</label>
      <input type="text" class="form-control" name="nama_pemilik" value="<%= nama_pemilik%>" required>
    </div>
    <div class="form-group">
      <label for="alamat">Alamat</label>
      <input type="text" class="form-control" name="alamat" value="<%= alamat%>" required>
    </div>
    <div class="form-group">
      <label for="no_hp">Telepon</label>
      <input type="text" class="form-control" name="no_hp" value="<%= no_hp%>" required>
    </div>
    <button type="submit" class="btn btn-success">Simpan</button>
  </form>
</div>

<%- include("../partials/foot.ejs") %>

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
